.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #ffe600; /* Color distintivo para la papelería */
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .search-input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
  }
  